{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- CARRUSEL -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="pag_caja.html"></a><img src="{% static 'core/img/cajas-cambio.jpg'%}"class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Mantenimiento de la caja de cambio</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="pag_suspe.html"></a><img src="{% static 'core/img/suspension-direccion.jpg'%}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Revisión de suspensiones</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="pag_electri.html"></a><img src="{% static 'core/img/electronica-automotriz.jpg'%}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Control de electricidad</h5>
                    </div>
                </div>
{% endblock %}